
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
wheels/
pip-wheel-metadata/
*.manifest
*.spec

.venv/
env/
venv/
ENV/

.idea/
.vscode/

.DS_Store

*.log
*.tmp

.pytest_cache/
